@font-face { 
    font-family: HalloSans; 
    src: url(Hallo-sans-light.otf);
}
h1 {
	color: black;
	text-align: center;
    font-size: 36px;
	font-family: HalloSans;
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}

.button-red,
.button-orange,
.button-blue,
.button-green {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-red {
    background-color: rgb(255, 107, 107); 
}

.button-orange {
    background: rgb(255, 174, 107); 
}

.button-blue {
    background: rgb(78, 186, 186); 
}

.button-green {
    background: rgb(92, 221, 92); 
}