@font-face { 
    font-family: HalloSans; 
    src: url(Hallo-sans-light.otf);
}
h1 {
	color: black;
	text-align: center;
    font-size: 36px;
	font-family: HalloSans;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
}
h3 {
    display: inline;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    width: 35em;
    padding: 5px;
    margin: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}
.count {
    display: inline;
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
}
#greenCount {
    position: absolute;
    right: 20px;
    bottom: 8px;
    color: rgb(92, 221, 92); 
}
#blueCount {
    position: absolute;
    right: 62px;
    bottom: 8px;
    color: rgb(78, 186, 186);
}
#yellowCount {
    position: absolute;
    right: 102px;
    bottom: 8px;
    color: rgb(255, 174, 107);
}
#redCount {
    position: absolute;
    right: 142px;
    bottom: 8px;
    color: rgb(255, 107, 107); 
}
button {
    margin: 5px;
}

.button-red,
.button-orange,
.button-blue,
.button-green {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-red {
    background-color: rgb(255, 107, 107); 
}

.button-orange {
    background: rgb(255, 174, 107); 
}

.button-blue {
    background: rgb(78, 186, 186); 
}

.button-green {
    background: rgb(92, 221, 92); 
}
#info {
    display: inline;
}
#term {
    font-size: 12pt;
    font-family: "Source Sans Pro", sans-serif;
    display: inline;
}
#learn-more {
    display: inline;
}
#greeting {
    font-size: 12pt;
    font-family: "Source Sans Pro", sans-serif;
    display: inline;
}
#info-button {
    position: absolute;
    right: 5px;
    top: 5px;
}